
<h2>
  <p id="line1">
    I&#8217;m a software and electrical engineer based in Boston.
  </p>
  <p id="line3">
    I build things, I code, I design, and I take photos.
  </p>
  <p id="line4">
    I spent the last four years getting a degree in electrical engineering from Princeton.
  </p>
  <p id="line5">
    And that&#8217;s about it.
  </p>
</h2>

<div id="resume"><a href="/contact/resume.pdf" class="nohover nocolor" target="_blank" rel="noopener noreferrer">r&eacute;sum&eacute; &nbsp;<img src="/images/doc.svg" height=20 width=17></a></div>

<p>
  I&#8217;m a <abbr title="AngularJS, Node.js, Express.js, MongoDB, SQL Server, jQuery, Bootstrap">full-stack</abbr> <abbr title="C#, Java, JavaScript, TypeScript, some C & Python">software</abbr> engineer at <a href="https://composableanalytics.com" target="_blank" rel="noopener noreferrer">Composable Analytics</a> in Cambridge, MA.
</p>
<p>
  I&#8217;m also a <abbr title="firmware engineering, embedded programming, sensor communications, and computer hardware design in Verilog">computing-focused</abbr> electrical engineer.
</p>
<p>
  Recently, I graduated cum laude from <a href="https://princeton.edu" target="_blank" rel="noopener noreferrer">Princeton University</a> with a <abbr title="Bachelor of Science in Engineering">B.S.E.</abbr> in Electrical Engineering and a <abbr title="effectively, a minor">certificate</abbr> in Computer Science.
</p>
<p>
  My <a href="https://github.com/ryanoshea/data-center-monitoring" target="_blank" rel="noopener noreferrer">senior thesis</a> was a scalable network of temperature sensors for monitoring data center climates.
</p>
<p>
  In Summer 2015, I interned at <a href="http://www.vecna.com/robotics/" target="_blank" rel="noopener noreferrer">Vecna Technologies</a> in Boston, writing firmware and designing electrical systems for their autonomous robots.
</p>
<p>
  In Junior year, I built the control circuitry to make an <a href="https://github.com/ryanoshea/car-lab" target="_blank" rel="noopener noreferrer">electric hobby car</a> autonomously navigate an environment while avoiding obstacles.
</p>
<p>
  I also built an <a href="https://github.com/ryanoshea/poll-princeton" target="_blank" rel="noopener noreferrer">open-source social network</a> for Princeton students.
</p>
<p>
  In Summer 2014, I <a href="http://www.linkedin.com/pub/ryan-o-shea/36/103/20b/" target="_blank" rel="noopener noreferrer">interned at Comcast</a>, building an AngularJS web app for their Business Voice division.
</p>
<p>
  Until recently, I was the Technology Chair of <a href="http://princetontowerclub.com" target="_blank" rel="noopener noreferrer">The Princeton Tower Club</a> and <br>Publicity Chair for <a href="http://tigermag.com" target="_blank" rel="noopener noreferrer"><em>The Princeton Tiger</em></a>, one of the oldest college humor magazines in the country.
</p>
<div id="profile-links">
  <ul id="profiles">
    <li>sometimes I <a id="github-link" href="https://github.com/ryanoshea" title="my github" target="_blank" rel="noopener noreferrer">code</a></li>
    <li>sometimes I <a id="linkedin-link" href="http://www.linkedin.com/pub/ryan-o-shea/36/103/20b/" title="my linkedin" target="_blank" rel="noopener noreferrer">work</a></li>
    <li>sometimes I 
      <a id="flickr-link" title="I shoot on a Nikon D610 nowadays." ng-click="toggleFlickrFoldout()">take photos
        <i class="fa fa-angle-down" ng-hide="flickrFoldoutOpen  || isMobile" aria-hidden="true"></i>
        <i class="fa fa-angle-up"   ng-hide="!flickrFoldoutOpen || isMobile" aria-hidden="true"></i>
      </a>
      <i class="foldout-loading-indicators fa fa-refresh fa-spin" ng-hide="!flickrWaiting" aria-hidden="true"></i>
    </li>
    <li class="foldout" id="flickr-foldout">
      <a class="flickr-photo" id="flickr-photo-{{$index}}" ng-repeat="item in dummyArray" ng-class="{'invisible': selectedFlickrPhoto != $index}" target="_blank" rel="noopener noreferrer"
         ng-href="{{ flickrPhotos[$index].pageUrl }}">
        <img ng-src="{{ flickrPhotos[$index].url }}">
      </a>
      <div id="flickr-foldout-label">
        <p id="flickr-top-label">Photos by Ryan O&#8217;Shea on Flickr:</p>
        <h4>{{flickrPhotoTitle()}}</h4>
        <ul id="exif-data">
          <li><i class="exif-icons fa fa-camera" aria-hidden="true"></i> {{flickrPhotoExif().camera}}</li>
          <li><i class="exif-icons fa fa-circle-o" aria-hidden="true"></i> <em>f</em>/{{flickrPhotoExif().aperture}}</li>
          <li><i class="exif-icons fa fa-clock-o" aria-hidden="true"></i> {{flickrPhotoExif().shutter}}"</li>
          <li><span class="exif-icons" id="iso-icon">ISO</span> {{flickrPhotoExif().iso}}</li>
          <li><i class="exif-icons fa fa-eye" aria-hidden="true"></i> {{flickrPhotoExif().focalLength}}</li>
          <li><i class="exif-icons fa fa-flash" aria-hidden="true"></i> {{flickrPhotoExif().flash}}</li>
        </ul>
        <div>
          <button class="flickr-nav-button" ng-click="changeFlickrPhoto('left')"><i class="fa fa-caret-left"  aria-hidden="true"></i></button>
          <button class="flickr-nav-button" ng-click="changeFlickrPhoto('right')"><i class="fa fa-caret-right" aria-hidden="true"></i></button>
        </div>
        <a id="flickr-button" href="https://www.flickr.com/photos/rinoshea/" target="_blank" rel="noopener noreferrer">See All <i class="fa fa-external-link" aria-hidden="true"></i></a>
      </div>
    </li>
    <li>sometimes I <a id="blog-link" href="http://post.ryanoshea.com" title="my blog" target="_blank" rel="noopener noreferrer">write</a></li>
    <li>sometimes I <a id="behance-link" href="http://www.behance.net/ryanoshea" title="my behance" target="_blank" rel="noopener noreferrer">design</a></li>
    <li>sometimes I <a id="twitter-link" href="https://twitter.com/ryancoshea" title="my twitter" target="_blank" rel="noopener noreferrer">tweet</a></li>
    <li>sometimes I <a id="facebook-link" href="https://facebook.com/ryan.c.oshea" title="my facebook" target="_blank" rel="noopener noreferrer">facebook</a></li>
    <li>sometimes I <a id="google-link" href="https://plus.google.com/106038738053849300832/posts" title="my google+" target="_blank" rel="noopener noreferrer">google</a></li>
  </ul>
  <ul>
    <li>I went to <a href="http://devonprep.com" title="my high school" target="_blank" rel="noopener noreferrer">Devon Prep</a> before undergrad.</li>
    <li><a href="http://djoshea.com" title="Dan O'Shea" target="_blank" rel="noopener noreferrer">This guy</a> is my brother.</li>
  </ul>
</div>
