
<h2 class="bio">
  <p id="line1">
    I&#8217;m a software engineer based in Boston.
  </p>
  <p id="line2">
    Most days, I&#8217;m solving data at enterprise scale for <a href="https://composableanalytics.com" target="_blank" rel="noopener noreferrer">Composable Analytics</a>.
  </p>
  <p id="line3">
    I like building things, designing user experiences, and taking photos.
  </p>
  <p id="line4">
    Before that, I finished up a degree in Electrical Engineering from Princeton.
  </p>
</h2>

<div id="resume"><a href="/contact/resume.pdf" class="nocolor" target="_blank" rel="noopener noreferrer">r&eacute;sum&eacute; &nbsp;<i class="far fa-file-alt" style="color: rgb(94, 94, 94)"></i></a></div>

<p>
  I&#8217;m a <abbr title="Angular, Node.js, Express.js, SQL Server, MongoDB, jQuery, Bootstrap">full-stack</abbr> <abbr title="C#, TypeScript, JavaScript, Java, some C & Python">software</abbr> engineer at <a href="https://composableanalytics.com" target="_blank" rel="noopener noreferrer">Composable Analytics</a> in Cambridge, MA.
</p>
<p>
  I&#8217;m also a <abbr title="firmware engineering, embedded programming, sensor communications, and computer hardware design in Verilog">computing-focused</abbr> electrical engineer.
</p>
<p>
  In 2016, I graduated cum laude from <a href="https://princeton.edu" target="_blank" rel="noopener noreferrer">Princeton University</a> with a <abbr title="Bachelor of Science in Engineering">B.S.E.</abbr> in Electrical Engineering and a <abbr title="a minor">certificate</abbr> in Computer Science.
</p>
<p>
  My <a href="https://github.com/ryanoshea/data-center-monitoring/blob/master/report-roshea/O'Shea_Ryan_Thesis.pdf" target="_blank" rel="noopener noreferrer">senior thesis</a> was a scalable network of temperature sensors for monitoring data center climates.
</p>
<p>
  In Summer 2015, I interned at <a href="https://robotics.vecna.com/" target="_blank" rel="noopener noreferrer">Vecna Technologies</a> in Boston, writing firmware and designing electrical systems for their autonomous robots.
</p>
<p>
  In Junior year, I built the control circuitry to make an <a href="https://github.com/ryanoshea/car-lab" target="_blank" rel="noopener noreferrer">electric hobby car</a> autonomously navigate an environment while avoiding obstacles.
</p>
<p>
  I also built an <a href="https://github.com/ryanoshea/poll-princeton" target="_blank" rel="noopener noreferrer">open-source social network</a> for Princeton students.
</p>
<p>
  In Summer 2014, I <a href="https://www.linkedin.com/in/ryancoshea" target="_blank" rel="noopener noreferrer">interned at Comcast</a>, building an AngularJS web app for their Business Voice division.
</p>
<p>
  Until recently, I was the Technology Chair of <a href="http://princetontowerclub.com" target="_blank" rel="noopener noreferrer">The Princeton Tower Club</a> and <br>Publicity Chair for <a href="http://tigermag.com" target="_blank" rel="noopener noreferrer"><em>The Princeton Tiger</em></a>, one of the oldest college humor magazines in the country.
</p>
<div id="profile-links">
  <ul id="profiles">
    <li>sometimes I <a id="github-link" href="https://github.com/ryanoshea" title="github" target="_blank" rel="noopener noreferrer">code</a></li>
    <li>sometimes I <a id="linkedin-link" href="https://www.linkedin.com/in/ryancoshea" title="linkedin" target="_blank" rel="noopener noreferrer">work</a></li>
    <li>sometimes I 
      <a id="flickr-link" title="I shoot on a Nikon D610 nowadays." ng-click="toggleFlickrFoldout()">take photos
        <span ng-hide="flickrWaiting || flickrFoldoutOpen  || isMobile"><i class="fas fa-angle-down" aria-hidden="true"></i></span>
        <span ng-hide="flickrWaiting || !flickrFoldoutOpen || isMobile"><i class="fas fa-angle-up" aria-hidden="true"></i></span>
      </a>
      <span ng-hide="!flickrWaiting"><i class="foldout-loading-indicators fas fa-sync fa-spin" aria-hidden="true"></i></span>
    </li>
    <li class="foldout" id="flickr-foldout">
      <a class="flickr-photo" id="flickr-photo-{{$index}}" ng-repeat="item in dummyArray" ng-class="{'invisible': selectedFlickrPhoto != $index}" target="_blank" rel="noopener noreferrer"
         ng-href="{{ flickrPhotos[$index].pageUrl }}">
        <img ng-src="{{ flickrPhotos[$index].url }}">
      </a>
      <div id="flickr-foldout-label">
        <p id="flickr-top-label">Photos by Ryan O&#8217;Shea on Flickr:</p>
        <h4>{{flickrPhotoTitle()}}</h4>
        <ul id="exif-data">
          <li ng-show="flickrPhotoExif().camera != null"><i class="exif-icons fas fa-camera-retro" aria-hidden="true"></i> {{flickrPhotoExif().camera}}</li>
          <li ng-show="flickrPhotoExif().aperture != null"><i class="exif-icons far fa-circle" aria-hidden="true"></i> <em>f</em>/{{flickrPhotoExif().aperture}}</li>
          <li ng-show="flickrPhotoExif().shutter != null"><i class="exif-icons fas fa-stopwatch" aria-hidden="true"></i> {{flickrPhotoExif().shutter}}"</li>
          <li ng-show="flickrPhotoExif().iso != null"><span class="exif-icons" id="iso-icon">ISO</span> {{flickrPhotoExif().iso}}</li>
          <li ng-show="flickrPhotoExif().focalLength != null"><i class="exif-icons fas fa-eye" aria-hidden="true"></i> {{flickrPhotoExif().focalLength}}</li>
          <li ng-show="flickrPhotoExif().flash != null"><i class="exif-icons fas fa-bolt" aria-hidden="true"></i> {{flickrPhotoExif().flash}}</li>
        </ul>
        <div>
          <button class="flickr-nav-button" ng-click="changeFlickrPhoto('left')"><i class="fas fa-caret-left"  aria-hidden="true"></i></button>
          <button class="flickr-nav-button" ng-click="changeFlickrPhoto('right')"><i class="fas fa-caret-right" aria-hidden="true"></i></button>
        </div>
        <a id="flickr-button" href="https://www.flickr.com/photos/rinoshea/" target="_blank" rel="noopener noreferrer">See All <i class="fas fa-external-link-square-alt" aria-hidden="true"></i></a>
      </div>
    </li>
    <li>sometimes I <a id="twitter-link" href="https://twitter.com/ryancoshea" title="twitter" target="_blank" rel="noopener noreferrer">tweet</a></li>
    <li>sometimes I <a id="blog-link" href="https://post.ryanoshea.com" title="blog" target="_blank" rel="noopener noreferrer">write</a></li>
    <li>sometimes I <a id="behance-link" href="https://www.behance.net/ryanoshea" title="behance" target="_blank" rel="noopener noreferrer">design</a></li>
  </ul>
  <ul>
    <li>I went to <a href="http://devonprep.com" title="high school" target="_blank" rel="noopener noreferrer">Devon Prep</a> before undergrad.</li>
    <li><a href="http://djoshea.com" title="Dan O'Shea" target="_blank" rel="noopener noreferrer">This guy</a> is my brother.</li>
  </ul>
</div>
