@import '../../Style/mixins';

h1 {
    text-transform: uppercase;
    font-family: 'open sans';
    font-weight: 300;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 0;
    color: #444;
    @include text-color-transition;

    &:hover {
        color: hsl(0, 0%, 50%);
    }

    strong {
        font-weight: 800;
    }
}
