@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins';

main {
    h2 {
        margin-top: 34px;
        margin-bottom: 1em;
        font-size: 1em;
        font-weight: 900;
        line-height: 1.4;
    }
    #profile-links {
        & > ul {
            list-style-type: none;
            padding: 0;
        }

        #profiles {
            a {
                cursor: pointer;
            }

            li > .foldout-loading-indicators {
                color: #666;
                font-size: 0.75em;
                margin-left: 1em;
            }
        }
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, lg) - 1) {
    #flickr-link i {
        display: none;
    }
}
