
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$bgColor: #f0f0f0;

html {
    overflow: hidden;
    height: 100%;
    line-height: 1.4;
    color: #222;
}

body {
    font-family: 'Lato';
    background: $bgColor;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    animation-name: fade;
    animation-duration: 0.5s;

    main {
        flex: 1 1 0px;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        width: 100%;

        #main {
            text-align: left;
            margin: 6em auto 6em auto;
            position: relative;

            article {
                margin: 0 auto;
                padding: 1em;
                max-width: 75%;
                display: flex;
                flex-direction: row;

                #content, #left {
                    vertical-align: top;
                    overflow: show;
                }

                #left {
                    flex: 1 1 0px;
                }

                #content {
                    flex: 3 3 0px;
                }
            }
        }
    }

    a, button.link {
        &,
        &:active,
        &:visited,
        &:hover,
        &:focus {
            border: none;
            outline: none;
            text-decoration: none;
        }

        &.nocolor {
            color: inherit;
        }

        &.nohover,
        &.nohover:hover {
            transition: none !important;
            padding: 0;
            margin: 0;
            background: none;
        }
    }

    h1:hover, h2:hover, p:hover, li:hover {
        cursor: default;
    }

    h1, h2, p, li {
        transition: color 300ms ease-in;
    }
}

#content {
    a, button.link {
        &,
        &:active,
        &:visited,
        &:hover {
            transition: background-color 200ms ease-in;
            background-color: transparent;
            padding: 0.15em;
            margin-left: -0.15em;
            margin-right: -0.15em;
            border-radius: 3px;
            font-weight: 700;
            color: #bb0055;
        }

        &:hover {
            background: rgba(255, 0, 50, 0.1);
        }
    }

    abbr[title] {
        text-decoration: none;
    }

    p {
        margin-top: 0.1em;
        margin-bottom: 0.5em;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, xl) - 1) {
    #root {
        main #main {
            margin-top: 2em;

            article {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: map-get($grid-breakpoints, md) - 1) {
    #root main #main article {
        max-width: 95%;
    }
}
